.image1{
  display:flex;
}

#animated_div {
  width: 600px;
  height: 200px;
  margin-top:230px;
  background: #92B901;
  color: #ffffff;
  position: relative;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  -webkit-animation: animated_div 5s 1;
  -webkit-border-radius: 5px;
  animation-iteration-count: 5;
}
@keyframes animated_div{
  0% {
    transform: rotate(0deg);
    left: 0px;
  }
  25% {
    transform: rotate(20deg);
    left: 0px;
  }
  50% {
    transform: rotate(0deg);
    left: 500px;
  }
  55% {
    transform: rotate(0deg);
    left: 500px;
  }
  70% {
    transform: rotate(0deg);
    left: 500px;
    background: #1ec7e6;
  }
  100% {
    transform: rotate(-360deg);
    left: 0px;
  }
}
p,div {
  margin-top:80px;
  animation-duration: 3s;
  animation-name: slidein;
  background-color:purple
}
/*
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */
