
body {
  background:linear-gradient(to right, #cfcd4c 0%, #385D6C 50%, #50cf4c 99%);
  display: block;
}

.image{
  width:10px;
  height:10px;
  margin-left: 1070px;
}

.signup-form {
  font-family: "Roboto", sans-serif;
  width:650px;
  margin:30px auto;
  background:linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
  border-radius: 50px;
}


.form-header  {
  /* background-color: #EFF0F1; */
  background:linear-gradient(to right, #abddb3 0%, #fafafa 50%, #ddabab 99%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-header h1 {
  font-size: 40px;
  text-align:center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: underline double;
  color:rgb(41, 182, 170);
  padding:20px 0;
  border-bottom:1px solid #cccccc;
}

/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/
.form-body {
  padding:10px 40px;
  color:#666;
}


.form-body .label-title {
  color:rgb(186, 51, 27);
  font-size: 17.5px;
  font-weight: bold;
}

.form-body .form-input {
    font-size: 17px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    /* -webkit-transition: width 0.4s ease-in-out; */
    
    
}
.form-body .form-input:hover{
  height:45px;
  background-color: #c4e7b370;
  color:rgb(41, 182, 170);
}

.horizontal-group .left{
  float:left;
  width:49%;
}

.horizontal-group .right{
  float:right;
  width:49%;
}



.btn {
   display:inline-block;
   padding:10px 20px;
   background-color: #1BBA93;
   font-size:17px;
   border:none;
   border-radius:5px;
   color:white;
   cursor:pointer;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid #169c7b;
  color: #169c7b;
}